.wrapper_grid {
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, 100px);
    padding: 5%;
    background: rgba(116, 113, 113, 0.3);
    border: 3px solid rgba(116, 113, 113, 0.8);
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px dotted rgb(116, 113, 113);
}